<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.gieok.log-retention</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>{{VAULT_PATH}}/scripts/session-log-retention.sh</string>
    <string>{{VAULT_PATH}}</string>
    <string>30</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>7</integer>
      <key>Minute</key>
      <integer>40</integer>
    </dict>
  </array>
  <key>StandardOutPath</key>
  <string>{{HOME}}/gieok-retention.log</string>
  <key>StandardErrorPath</key>
  <string>{{HOME}}/gieok-retention.log</string>
  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
